.logo {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
    margin-top: 10px;
    /* padding-top: 15px; */
    padding-bottom: 15px;
    margin-right: 50px;
    height: 100px;
    width: 200px;
  
}