.kanban {
  display: flex;
  height: fit-content;
  align-items: flex-start;
  justify-content: left;
  gap: 2rem;
}
.kanban__section__title {
  display: flex;
  justify-content: end;
  flex-direction: row;
  /* padding-bottom: 1rem; */
  /* padding-top: 1rem; */
  align-items: center;
  background-color: rgb(155, 155, 158);
}

.kanban__section__count {
  display: flex;
  margin-left: 1rem;
  color: brown;
}
.kanban__section__add {
  justify-content: end;
  cursor: pointer;
  font-size: 35px;
  margin-left: 5rem;
  margin-right: 1.5rem;
  color: rgb(101, 86, 86);
}

.kanban__section {
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  border: 10px black;
  background-color: rgb(207, 207, 208);
}
.kanban__section:hover {
  background-color: rgb(129, 129, 143);
}

.kanban__section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newCard {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.newCard-form {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 10px black;
}
