.kanban {
  display: flex;
  height: 600px;
  width: fit-content;
  align-items: flex-start;
  justify-content: left;
  gap: 3rem;
}
.kanban__section__title {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #b2a4d4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.kanban__section__count {
  display: flex;
  margin-left: 1rem;
  color: #080808e7;
}
.kanban__section__add {
  justify-content: end;
  cursor: pointer;
  font-size: 35px;
  margin-left: 5rem;
  margin-right: 1.5rem;
  color: rgb(101, 86, 86);
}

.kanban__section {
  width: 325px;
  height: fit-content;
  overflow: auto;
  border-radius: 15px;
  border: 10px black;
  /* background-color: #c9bfe0; */
  background-color: #f3f1f8;
  box-shadow: 10px 0 10px rgba(33, 33, 33, 0.2);
}
.kanban__section:hover {
  background-color: #afaac2e7;
}

.kanban__section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newCard {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.newCard-form {
  display: flex;
  justify-content: center;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  border: 10px black;
}
