.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 140px;
  padding: 10px;
  background-color: #1b1d1e;
  border-radius: 10px;
  margin-bottom: 1rem;
  z-index: 1;
}

.card_header {
  display: flex;
  width: 300px;
  height: 35px;
  height: fit-content;
  /* height: max-content; */
  background-color: rgb(42, 39, 44);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid #afaac2e7;
}

.card__description {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  color: white;
  margin-left: 3px;
  margin-bottom: 5px;
}
.card_description_edit {
  display: flex;
  align-items: center;
}
.card_description_edit_submit {
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.card_description_edit_submit:hover {
  color: #afaac2e7;
}
#edit_description {
  background-color: rgb(39, 41, 44);
  color: white;
}
.card__option {
  display: flex;
  justify-content: end;
  z-index: 100;
  color: white;
  cursor: pointer;
}
.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  height: 45px;
  width: 200px;
}

.list_container {
  display: flex;
}
.list_photo {
  display: flex;

  width: max-content;
  height: fit-content;
  list-style-type: none;
}
.card__owner {
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: -5px;
  z-index: 1;
}
.card_add_members {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 41, 44);
  color: white;
  border-radius: 50%;
  margin-left: -6px;
  z-index: 10;
  cursor: pointer;
}
.card_add_members:hover {
  background-color: rgb(71, 66, 89);
}
.card_add_members_icon {
  display: flex;
  font-size: 17px;
}

.create__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 90px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 1;
}

.create__card {
  display: flex;
  font-size: smaller;
  width: 300px;
  height: 140px;
  padding: 10px;
}
.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_edit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#edit_description {
  width: 290px;
  font-size: 16px;
}
.card_edit_close {
  display: flex;
  justify-content: end;
  margin-bottom: -15px;
}
