.header {
  width: 100%;
  background-color: #323132;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-image: none;
}
.header_title {
  display: flex;
 
  font-size: 35px;
  color: white;

}
.header_title_text {
  display: flex;
  justify-content: center;
  padding: 1.5em;
  justify-content: center;
  font-family: monospace;
  font-weight: bold;
  font-style: oblique;
  color: #FFFFFF;
  background: #333333;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #a425ff;
 
}

.dropdown {
  height: 10px;
 }

 .h1-pro {
  position: absolute;
  margin-top: 45px;
  margin-right: 1800px;
  color: #a425ff;
  font-size: 3em;
  width: 400px;
  font-family: monospace;
 }
