.header {
  padding-top: 50px;
  /* height: 100px; */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: none;
  /* background-color: #93ef7d; */
  /* margin: 200px 120px; */
}
.header_title {
  display: flex;
  /* align-items: center;
  align-self: center;
  align-content: center; */
  font-size: 35px;
  justify-content: start;
}
.header_title_text {
  display: flex;
}
.header img {
  width: 100px;
  height: 13px;
}

@media only screen and (max-width: 1024px) {
  #header {
    margin: 120px 0px;
  }
}
